@model Entities.Concrete.Role
@{
    ViewBag.Title = "EditRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Rol Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("EditRole", "Role", FormMethod.Post))
{
<div class="form-group">
    @Html.HiddenFor(x => x.RoleId, new { @class = "form-control" })

    @Html.Label("Rol Adı")
    @Html.TextBoxFor(x => x.RoleName, new { @class = "form-control" })
    <br /><br />
    @Html.Label("Rol Açıklaması")
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br /><br />
    <button class="btn btn-success">Güncelle</button>
</div>
}