@model  Entities.Concrete.Director
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (ViewBag.Message != null)
{
    <script>
        debugger;

        alert(@ViewBag.Message);
        @ViewBag.Message=null;
    </script>
}

<br /><br />

<html>
<head>
    <title></title>
</head>
<body>
    <form action="/Login/UpdatePassword" method="post">
        <div align="center">
            @Html.Label("Eski Şifre:")
            <input type="text" name="oldPass" value="" />
            <br />
            @Html.Label("Yeni Şifre:")
            <input type="text" name="newPass" value="" />
            <br />
            @Html.Label("Yeni Şifre Tekrarı:")
            <input type="text" name="reNewPass" value="" />
            <br />
            <br /><br />
            <button type="submit" class="">Şifreyi Güncelle</button>
        </div>k
        <br />
        
    </form>
</body>
</html>
