@model  Entities.Concrete.Personel


@{
    ViewBag.Title = "AddPersonel";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<html>
    <head>
        <meta charset="utf-8">
        <title>Personel Ekleme</title>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(function () {
                $("#datepicker").datepicker();
            });
        </script>
    </head>
    <body>
        <h1>Yeni Personel Ekleme Sayfası</h1>
        <br />
        @using (Html.BeginForm("AddPersonel", "Personel", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <div class="form-group">

                @Html.Label("Personel Adı")
                @Html.TextBoxFor(x => x.Name, new { @class = "form-control" ,@required = "required" })
                @Html.ValidationMessageFor(x => x.Name)
                <br /><br />
                @Html.Label("Personel Soyadı")
                @Html.TextBoxFor(x => x.Surname, new { @class = "form-control",@required = "required" })
                @Html.ValidationMessageFor(x => x.Surname)
                <br /><br />
                @Html.Label("Telefon Numarası")
                @Html.TextBoxFor(x => x.Tel, new { @class = "form-control", @required = "required" })
                @Html.ValidationMessageFor(x => x.Tel)
                <br /><br />
                @Html.Label("Yöneticisi")
                @Html.DropDownListFor(x => x.DirectorId, (List<SelectListItem>)ViewBag.vlw, new { @class = "form-control" })
                <br /><br />
                @Html.Label("Departmanı")
                @Html.DropDownListFor(x => x.DepartmentId, (List<SelectListItem>)ViewBag.vlc, new { @class = "form-control" })
                <br /><br />
                @Html.Label("Doğum Tarihi")
                <input type="text" id="datepicker">
                <br /><br />
                <button class="btn btn-info">Kaydet</button>

            </div>
        }


    </body>
    </html>

